@import './src/style/variable';
@import './src/style/mixin';

.container {
    width: 100%
}

.imgWrapper {
    max-width: 300px;
    margin: 0 auto $small auto;
}

.title {
    margin-bottom: $extra-small;
}

.ingredients, .steps {
    padding: 0;
}

.nameInput,
.categoryInput,
.ingredientsInput,
.stepsInput,
.hour,
.min,
.servingInput {
    width: 100%;
}


.ingredientsLine,
.stepsLine,
.name, 
.serving, 
.time {
    display: flex;
}

.servingInput {
    max-width: 50px;
}

.timeInput {
    max-width: 80px;
}

.time, .serving {
    h3 {
        width: 120px;
    }
}

.warning {
    border: 1px solid $red;
}
