@import './src/style/variable';
@import './src/style/mixin';

.container {
    width: 100%
}

.imgWrapper {
    max-width: 300px;
    margin-bottom: $small;
}

.ingredients, .steps {
    padding: 0;
}

.nameInput,
.cookingInfo,
.ingredientsLine,
.stepsLine {

    input, textarea {
        width: 100%;
        max-width: 800px;
    }
}

.ingredientsLine,
.stepsLine {
    display: flex;
}

.name, .serving, .time {
    display: flex;
}

.nameInput {
    margin-bottom: $small;
}

.stepsText {
    max-width: 600px;
}

.label {
    width: 100%;
    max-width: 800px;
}
