@import './src/style/variable';
@import './src/style/mixin';

.lightbox {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-self: center;

    width: 100vw;
    height: 100vh;

    z-index: 1;
}

.active {
    .content {
        transform: scale(1);
    }

    .overlay {
        background-color: $black-light;
    }
}

.hidden {
    visibility: hidden;
}

.dialog {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: background-color .5s ease-in-out;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;

    padding: $extra-small;
    margin: $small;

    border: 1px solid $red;
    border-radius: 100%;
    
    background-color: $transparent;
    
    z-index: 4;

    transition: background-color .5s ease-in-out;
    
    &:hover, &:focus {
        background-color: $red-light;
    }
    
    svg path {
        stroke: $red;
    }
}

.content {
    padding: 40px $medium;

    border-radius: 10px;
    
    background-color: $white;

    z-index: 3;
    
    transform: scale(0);
    
    transition: transform .2s ease-in-out;
}

.contentWrapper {
    overflow-y: auto;
    width: 80vw;
    max-height: 80vh;

    @include tablet {
        width: 85vw;
    }

    @include desktop {
        width: 90vw;
    }
}
