@import './src/style/variable';
@import './src/style/mixin';

.container {
    width: 100%
}

.imgWrapper {
    max-width: 300px;
}

.ingredients, .steps {
    padding-left: 0;
}

.ingredientsLine,
.stepsLine {
    display: flex;

    margin-bottom: $small;
}

.name, .serving, .time {
    display: flex;
}

.stepsText, .buttonsWrapper {
    padding-left: $small;
}

.stepsText {
    max-width: 600px;
}
