@import '../../style/variable';

.header {
    position: sticky;
    width: 100%;
    top: 0;

    background-color: $grey-light;
}

.menuWrapper {
    display: flex;
    justify-content: space-between;

    padding-top: $medium;
}

.title {
    font-size: $h3;
}