@import './src/style/variable';

.header {
    position: sticky;
    width: 100%;
    top: 0;

    background-color: $grey-light;
}

.menuWrapper {
    display: flex;
    justify-content: space-between;

    padding-top: $medium;
}

.title {
    font-size: $h3;
}

.menuButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 40px;
    height: 40px;

    padding: 8px;

    border: none;
    border-radius: 100%;

    background-color: $white;
    transition: background-color .5s ease-in-out;

    &:hover {
        background-color: $green-transparent;
    }

    &:hover .lineMiddle {
        width: 80%;
    }
}

.lineTop, .lineMiddle, .lineBottom {
    width: 100%;
    height: 3px;

    background-color: $black;

    transition: width .2s ease, transform .2s ease;
}

.menuButton:active {
    background-color: $green-transparent;

    .lineTop {
      transform: translateY(8px) rotate(45deg);
    }

    .lineMiddle {
      width: 0;
    }

    .lineBottom {
      transform: translateY(-8px) rotate(-45deg);
    }
}
