@import './src/style/variable';

.header {
    position: sticky;
    width: 100%;
    top: 0;

    background-color: $grey-light;
}

.menuWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: $medium;
}

.title {
    font-size: $h3;
}

.newButton {
    display: flex;
    align-items: center;

    padding: 8px;

    border: none;
    border-radius: 20px;

    color: $green;
    font-weight: bold;

    background-color: $white;
    transition: background-color .5s ease-in-out, color .2s ease-in;

    .iconWrapper {
        display: flex;
        align-items: center;

        width: 0;
        height: 26px;

        border-radius: 100%;
        
        transition: width  .1s ease-in, margin .1s ease-in;
    }

    &:hover {
        color: $white;
        
        background-color: $green-transparent;

        .iconWrapper {
            width: 26px;
            margin-left: $small;

            background-color: $grey-light;
        }

        .lineTop, .lineBottom {
            width: 100%;
            transform: translateX(7px);
        }

        .lineBottom {
            transform: translateX(-6px) rotate(90deg);
        }
    }
}

.lineTop, .lineMiddle, .lineBottom {
    width: 0;
    height: 2px;

    background-color: $green;

    transition: width .4s ease, transform .2s ease;
}

