@import 'reset';
@import 'variable';
@import 'mixin';

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: calc(#{$tablet} - 20px);

  padding: 0 20px;
  margin: 0 auto;

  @include tablet {
    padding: 0;
  }

  &--full-width {
    width: 100%;
  }
}

// body {
//   background-image: url('../images/cooking_table.webp');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
